@charset "utf-8";
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}
#red {
  width: 30px;
  height: 30px;
  background-color: #ff6666;
  float: left;
}

#blue {
  width: 30px;
  height: 30px;
  background-color: #0000ff;
  float: left;
}

#green {
  width: 30px;
  height: 30px;
  background-color: #3cb371;
}
